/jsharedServer/nbproject/private/
/jsharedCommon/nbproject/private/
/jsharedClient/nbproject/private/
/jsharedCommon/build/
/jsharedServer/build/
/jsharedClient/build/
/jsharedCommon/dist/
/jsharedClient/dist/
/jsharedServer/dist/